:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff0f0;
  background-color: #500000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}